bin/
qbout/
src/main/resources/jvm/
src/test/resources/**/*.js
src/test/resources/**/*.flim
src/regression/
src/golden/workon/
!src/test/resources/flasck/*.js
!src/test/resources/jsrunner/**/*.js
parser-tmp/
rw-tmp/
errors-tmp/
depend-tmp/
hsie-tmp/
flim-tmp/
jsout-tmp/
droid-tmp/
droid-to/
tc-tmp/
webzip.zip
testReports-tmp/
/*.html
