.whole-window {
	position: relative;
}

.production-block {
	text-wrap: nowrap;
}

.hamburger-div {
	display: block;
	width: 30px;
	height: 800px;
	border: 1px solid black;
}

.hamburger-div.menu-open {
	width: 400px;
	border: none;
}

.hamburger-div.menu-open .hamburger-icon {
	display: none;
}

.hamburger-icon {
	font-size: 30px;
	padding-top: 150px;
	text-align: center;
}

.hamburger-icon::before {
	content: ">";
}

.hamburger-menu {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
}

.hamburger-section-link {
	border: 1px solid black;
	text-align: center;
	font-size: 175%;
	overflow-x: hidden;
	text-wrap: nowrap;
	width: 100%;
	margin: 3px;
	padding: 5px;
}

.hamburger-menu.menu-open {
	display: block;
}

.grammar-content {
	display: block;
	position: absolute;
	left: 60px;
	top: 0px;
}

.grammar-content.menu-open {
	left: 420px;
}